 /*! div style */
 .image-gallery {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     justify-content: center;
     padding: 4px;
 }

 .box {
     flex-basis: 25%;
     width: 100%;
     padding: 8px;
     margin: 2px;
 }

 .img-gallery {
     width: 200px;
     height: auto;
     border-radius: 4px;
     object-fit: contain;
     transform: scale(1);
     transition: all 0.3s ease-in-out;

     &:hover {
         transform: scale(1.05);
     }
 }