---
layout: single
---
<!-- djlint:off -->
{% assign github_url = 'https://raw.githubusercontent.com/lilbud/bootleg_covers/refs/heads/main' %}

{% for year in page.years %}
{{ year | prepend: "# " | markdownify }}
{% capture dirname %}{{ page.artist }}/covers/{{ year }}{% endcapture %}
{% assign images = site.data.covers.tree | where_exp:"item","item.path contains dirname" %}

<div class="image-gallery">
    {% for item in images %}
    {%- if item.path contains '.jpg' or item.path contains '.png' -%}
    {% assign name = item.path | split:'/' %}
    <div class="box">
        <a href="{{ github_url }}/{{ item.path }}">
            <img src="{{ github_url }}/{{ item.path }}" alt="{{ name.last }}" class="img-gallery" loading="lazy" />
        </a>
    </div>
    {%- endif -%}
    {% endfor %}
</div>

{% endfor %}