---
layout: splash
author_profile: false
classes: wide
---

{% assign dirname = page.artist | append: "/covers/" | append: page.year %}
{% assign github_raw = "https://raw.githubusercontent.com/lilbud/Bootleg_Covers/refs/heads/main/" %}
<a href="https://download-directory.github.io?url=https://github.com/lilbud/Bootleg_Covers/tree/main/{{ dirname }}"
   class="btn btn--primary">Download Covers</a>
{% assign images = site.static_files | where_exp: "image", "image.path contains dirname" %}
{% if images.size == 2 %}
    {% assign layout = "half" %}
{% else %}
    {% assign layout = "third" %}
{% endif %}
<figure class="{{ layout }}">
    {% for image in images %}
        <a href="{{ github_raw }}{{ dirname }}/{{ image.name }}"
           title="{{ image.basename }}">
            <img height="300"
                 width="300"
                 alt="{{ image.name }}"
                 src="{{ image.path }}">
        </a>
    {% endfor %}
</figure>
