---
layout: single
---
<!-- djlint:off -->
{% assign github_url = 'https://raw.githubusercontent.com/lilbud/bootleg_covers/refs/heads/main/' %}

{% for year in page.years %}
{{ year | prepend: "# " | markdownify }}
{% capture dirname %}{{ page.artist }}/covers/{{ year }}{% endcapture %}
{% assign images = site.data.covers.tree | where_exp:"item","item.path contains dirname" %}

<div class="image-gallery">
    {% for item in images %}
    {%- if item.path contains '.jpg' or item.path contains '.png' -%}
    <!-- {% assign name = item.path | split:'/' %} -->
    {% assign temp_url = github_url | append: item.path %}
    <div class="box">
        <a href="{{ temp_url }}">
            <img src="{{ temp_url }}" alt="{{ item.basename }}" class="img-gallery" height="300" width="300"
                loading="lazy" />
        </a>
    </div>
    {%- endif -%}
    {% endfor %}
</div>

{% endfor %}